<div class="row mt-3">
  <div class="col-xs-12 col-md-6 offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>
        {{ this.error }}
      </p>
    </div>
    <div *ngIf="isLoading">
      <app-loader-spinner></app-loader-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          required
          email
        />
      </div>

      <div class="form-group mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          minlength="6"
        />
      </div>

      <div class="actions mt-2">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ isLoggedInMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-success" type="button" (click)="onSwitchMode()">
          Switch To {{ isLoggedInMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
