<!-- use directive -->
<ng-template appPlaceholder></ng-template>

<!-- use ng-container -->
<ng-container #dynamicComponent></ng-container>

<div class="row mt-3 form">
  <div class="col-xs-12 col-md-6 offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      <p>
        {{ this.error }}
      </p>
    </div> -->
    <!-- <app-alert *ngIf="error" [message]="error" (close)="onHandleError()"></app-alert> -->

    <div *ngIf="isLoading" class="col-md-4 offset-5">
      <app-loader-spinner></app-loader-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group flex">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          ngModel
          required
          email
        />
      </div>

      <div class="form-group flex mt-2">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          ngModel
          minlength="6"
        />
      </div>

      <div class="actions mt-3">
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="authForm.invalid"
        >
          {{ isLoggedInMode ? "Login" : "Sign Up" }}
        </button>
        |
        <button class="btn btn-success" type="button" (click)="onSwitchMode()">
          Switch To {{ isLoggedInMode ? "Sign Up" : "Login" }}
        </button>
      </div>
    </form>
  </div>
</div>
