<div class="row mt-3">
  <div class="col-md-12">
    <img [src]="recipe?.imagePath" class="img-fluid" alt="recipe-img" />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class="text-primary">{{ recipe?.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
      <button
        type="button"
        data-bs-toggle="dropdown"
        class="btn btn-primary dropdown-toggle"
      >
        Manage Recipe <span class="carat"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="addToShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" (click)="onEditRoute()">Edit Recipe</a></li>
        <li><a class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ recipe?.description }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul class="list-group mt-2">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of recipe?.ingredients"
      >
        {{ ingredient.name }} - ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
