<div class="row" [routerLink]="[index]" routerLinkActive="recipeActive">
  <div class="col-md-6 mb-4">
    <div class="card" style="width:250px">
      <img
        *ngIf="recipe?.imagePath"
        [src]="recipe?.imagePath"
        alt="card-image"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title text-primary">
          {{ recipe?.name }}
        </h5>
        <p class="card-text">{{ recipe?.description }}</p>
      </div>
    </div>
  </div>
</div>
