<div class="row">
  <div class="col-md-12 mb-3">
    <form>
      <div class="row">
        <div class="col-md-5 form-group">
          <label for="name">Name</label>
          <input type="text" #nameInput class="form-control" id="name" />
        </div>
        <div class="col-md-2 form-group">
          <label for="amount">Amount</label>
          <input type="text" #amountInput class="form-control" id="amount" />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <button class="btn btn-success" type="button" (click)="onAddIngredientItem()">Add</button>
    &nbsp;
    <button class="btn btn-danger" type="button">Delete</button>
    &nbsp;
    <button class="btn btn-primary" type="button">Edit</button>
  </div>
</div>